@layer reset, base, layout, components, utilities;

@import "reset.css" layer(reset);

@layer base {
  :root {
    @font-face {
      font-family: "Inter";
      src: url("/fonts/inter.ttf") format("ttf");
    }

    @font-face {
      font-family: "Lora";
      src: url("/fonts/lora.ttf") format("ttf");
    }

    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;

    --font-size-300: 0.875rem;
    --font-size-400: 1rem;
    --font-size-500: 1.125rem;
    --font-size-600: 1.25rem;
    --font-size-700: 1.5rem;
    --font-size-800: 2rem;
    --font-size-900: 3.75rem;
    --font-size-1000: 3.75rem;

    /* width, previously defined with min-width */
    @media (width > 760px) {
      --font-size-300: 0.875rem;
      --font-size-400: 1rem;
      --font-size-500: 1.25rem;
      --font-size-600: 1.5rem;
      --font-size-700: 2rem;
      --font-size-800: 3rem;
      --font-size-900: 5rem;
      --font-size-1000: 7.5rem;
    }
  }

  :root {
    --font-size-heading-sm: var(--font-size-700);
    --font-size-heading-regular: var(--font-size-800);
    --font-size-heading-lg: var(--font-size-900);
    --font-size-heading-xl: var(--font-size-1000);

    --font-size-sm: var(--font-size-300);
    --font-size-regular: var(--font-size-400);
    --font-size-md: var(--font-size-500);
    --font-size-lg: var(--font-size-600);
  }

  html {
    font-family: var(--font-sans);
    line-height: 1.6;
  }

  body {
    font-size: var(--font-size-md);
  }

  h1 {
    font-size: var(--font-size-heading-regular);
  }

  a {
    color: black;
  }

  a:hover,
  a:focus-visible {
    color: gray;
  }
}

@layer layout {
  /* Reintroduce flow, this selected all but the first child, doing it this way prevents specificity changes vs using first-child */
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .wrapper {
    --wrapper-max-width: calc(1130px + 2rem);

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: 1rem;

    &[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }

    &[data-width="narrow"] {
      --wrapper-max-width: 680px;
    }
  }

  .section {
    --padding-block: 3.75rem;
    padding-block: var(--padding-block);

    @media (width > 760px) {
      --padding-block: 6rem;

      &[data-padding="compact"] {
        --padding-block: 4.5rem;
      }
    }
  }

  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-block-end: 2rem;
    }
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: var(--space, 1.125rem);
  }
}

@layer components {
  .header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;

    ul {
      display: flex;
      flex-wrap: wrap;

      gap: 0.5rem 1rem;
    }

    a {
      text-decoration: none;
    }
  }
}
