---
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kitto Khrangtong | Frontend Web Developer">
  <title>Kitto Khrangtong</title>
  
  <link rel="icon" type="image" href="/favicon.ico">
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet"> 

</head>
<body>
  <Header />
  <Main />
  <Footer />
</body>
</html>
