---
import { SITE_TITLE } from "../consts";
---

<header class="wrapper">
  <nav class="header-navigation">
    <h3><a href="/blurbs">{SITE_TITLE}</a></h3>
    <ul role="list">
      <a href="/collection">collection</a>
      <a href="/about">about</a>
      <a href="/uses">uses</a>
    </ul>
  </nav>
</header>
