---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/blurbs">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<a href="/collection">collection</a>
			<a href="/about">about</a>
			<a href="/uses">uses</a>
		</div>
	</nav>
</header>
