---
import Highlight from '../components/Hightlight.astro'
---

<section>
  <p>Hi, I'm <span class='font-semibold'>Kitto</span>, a web developer mainly focusing on frontend work in my free time and a variety of different projects in my professional career. </p>
  <br />
  <p>
    Professionally, I've <Highlight>completed</Highlight> a lot of work in consuming APIs and working on different kinds of automations involving them. During this time a lot of different technologies were used such as, but not limited to: JavaScript, Groovy, AWS, and GCP.
  </p>
  <br />
  <p>
    Recreationally, you'll find that I've dabbled in a lot of different technologies. Currently, Next.js, Gatsby, Laravel, and WordPress are some of the frameworks I like to interface with. I've been spending a lot of time trying to bridge both professional and recreational work by seeing what's possible with the technologies I've learned. I find this a great way to solidify my knowledge and sharpen my skills! 
  </p>
  <br />
  <p>Thanks for visiting and happy browsing!</p>
</section>

<style>
  .font-semibold {
    font-weight: 700;
  }
</style>