---
import Highlight from '../components/Hightlight.astro'
---

<section>
  <p>
    Hi, I'm <span class='font-semibold'>Kitto</span>, a software engineer focusing on technologies in the frontend of the web.
    You'll find me tinkering with so many different techs: React, Nextjs, <Highlight><a href='https://astro.build/'>Astro</a></Highlight>, 
    Supabase, just to name a few of my favorites.
  </p>
  <br />
  <p>
    I'm also VERY big into open source technologies (if you couldn't already tell from that list) and have been making strides to do my
    part and have started contributing to various libraries, tools, and frameworks! I've contributed to some MDN docs on web perf, to 
    Snowpack's documentation, and now more regularly, <Highlight><a href='https://github.com/snowpackjs/astro'>Astro</a></Highlight> and 
    <Highlight><a href='https://github.com/snowpackjs/astro-docs'>Astro documentation</a></Highlight>. Along with the core team and some other 
    amazing contributors, I'm helping pave the way for people to understand and get excited about such a great new tech.
  </p>
  <br />
  <p>
    In my day job, I'm working within a legacy PHP/MySQL codebase, supporting and optimizing current processes to streamline workflow for our 
    our business users and production line workers. In addition, I'm also supporting the migration of our legacy system to a more modern combination
    of Laravel and Vue.
  </p>
  <br />
  <p>Other things I'm interested in outside of tech are note taking, fitness, MMA, traveling, and dog training!</p>
  <br />
  <p>Feel free to reach out on any platforms I'm on to discuss any of these topics.</p>
  <br />
  <p>Until next time,</p>
  <p>Kitto</p>
</section>

<style>
  .font-semibold {
    font-weight: 700;
  }
</style>