---

---

<nav>
  <ul>
    <li>First Item</li>
  </ul>
  <ul>
    <li>Second Item</li>
  </ul>
</nav>

<style lang="scss">
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;   
    }
  }
</style>